

 <div class = "banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(<%=image_path("wagon-foto.jpeg") %>)">
  <div class="container d-flex justify-content-center">
    <div class="first-block">
      <h1 class= "pt-3">Le Wagon Games</h1>
      <p class="texto-secundario">O jogo mais ousado de todos os tempos!</p>
      <a  href="/scenes/1"><button class=" glow-on-hover btn-left"><strong>COMEÇAR JOGO</strong> </button></a>
    </div>
  </div>
</div>
