

 <div class = "banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(<%=image_path("wagon-foto.jpeg") %>)">
  <div class="container d-flex flex-column justify-content-center align-items-center">
    <h1 class= " pt-3 ">Le Wagon games  <strong></strong>!</h1>
    <p class="texto-secundario mt-5  ">O jogo mais ousado de todos os tempos!!</p>
    <a class=" botão-home btn btn-primary " href="#"><strong>começar  jogo!</strong> </a>
  </div>
</div>
