.navbar-lewagon {
  justify-content: space-between;
  background: rgba(252, 249, 249, 0.2);
  font-weight: bold;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
