.story-box {
  background: rgb(233, 233, 233);
  opacity: 0.9;
  padding: 12px;
  height: 150px;
  border-color: rgb(27, 27, 27);
  border-radius: 7px;
  color: rgb(0, 0, 0);
  font-size: larger;
  font-weight: bolder;
}
